<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/11118c8395.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logoB.png" />
    <title>Todo</title>
</head>

<body>
    <div class="container">
        <h1>TODO APP</h1>

        <!-- ********** Form for adding new task ************** -->

        <form action="/submit" method="POST">
            <!-- <div class="add-container"> -->
            <div class="add">
                <div class="item-a">
                    <label for="description">Description</label>
                    <input type="text" id="description " name="description" placeholder="What do you need to do ?"
                        required>
                </div>
                <div class="item-b">
                    <label for="category">Category</label>
                    <input list="dropdown" type="text" id="category" name="category" placeholder="Choose a category"
                        required>
                    <datalist id="dropdown">
                        <option value="personal">
                        <option value="shop">
                        <option value="work">
                        <option value="school">
                        <option value="cleaning">
                        <option value="other">
                    </datalist>
                </div>
                <div class="item-c">
                    <label for="duedate">Due Date</label>
                    <input type="date" id="duedate" name="duedate" required>
                </div>
            </div>
            <button class="addtask" type="submit"><i class="fas fa-plus"></i>&nbsp;<span>ADD TASK</span></button>
        </form>

        <!-- ********** Form for deleting task ************** -->
        <form action="/delete-task" method="POST" onsubmit="return valthisform()">
            <button class="delete" type="submit"><i class="far fa-trash-alt"></i>&nbsp;<span>DELETE TASK</span></button>
            <ul class="task-container">
                <% for (let i of task_list) { %>
                    <li class="flex-row task-item" style="justify-content:space-between;">
                        <div class="flex-row" style="width:80%; justify-content:left;">
                            <input type="checkbox" name="checkbox[]" value="<%= i._id %>" style="width:10%">
                            <label for="">
                                <div>
                                    <h3>
                                        <%=i.description%>
                                    </h3>
                                    <p><i class="far fa-calendar-alt"></i>&nbsp;<%=i.duedate%>
                                    </p>
                                </div>
                            </label>
                        </div>
                        <div class="butn">
                            <%=i.category%>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </form>
    </div>
</body>
<script src="/js/scripts.js"></script>
</html>